.col-md-4 .image{

	position: relative;
	width: 100%;
}

h1{
	position: absolute;
	top: 100px;
	left: 35%;
	width: 100%;
	

}

.col-md-12 img{
	position: relative;
	width: 60%;
	margin-left: 250px;
	
}


h2{
	position: absolute;
	top: 60px;
	left: 45%;
	width: 100;
	text-align: center;
	color: aqua;
}

.col-md-12 .bulletpoint{
	margin: 30px;
	position: absolute;
	top: 110px;
	left: 38%;
	width: 100;
	font-weight: bold;

}

h5{
	background-color: #87CEFA;
	text-align: right;
}