.col-md-4 .image{

	position: relative;
	width: 100%;
}

h1{
	position: absolute;
	top: 100px;
	left: 30%;
	width: 100%;
	

}

.col-md-6 img{
	position: relative;

	
}

h2{
	position: absolute;
	top: 50px;
	left: 25%;
	width: 100;
	text-align: center;
	
}

.col-md-6 .bulletpoint{
	margin: 30px;
	position: absolute;
	top: 110px;
	left: 8%;
	width: 100;
	font-weight: bold;

}


h5{
	background-color: #87CEFA;
	text-align: right;
}